body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.logo img
{
  width: 23%;
 
}

.home .post img
{
  position: absolute;
  left: 600px;
  width: 38%;
  opacity: 0.4;
  top: 35px;
} 
.home .post img:hover
{
  opacity: 1.0;
}
.home .hero img
{
  position: absolute;
  left: 600px;
  width: 20%;
  opacity: 0.4;
  top: 7px;
  height: 95%;
}
.home .planets img
{
  position: absolute;
  left: 600px;
  width: 35%;
  opacity: 0.4;
  top: 7px;
  height: 95%;
}
.home .ship img
{
  position: absolute;
  left: 600px;
  width: 38%;
  opacity: 0.4;
  top: -13px;
  transform: rotate(40deg);
}
.skib img,
.wars img
{
  width: 250px;
  height: 275px;
}